@page "/learnblazor/blazorJs"
@inject IJSRuntime _JSRuntime

<h3>BlazorJs</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test Confirm Box</button>
</div>

<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-success" @onclick="TestSuccess">Success Message</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-danger" @onclick="TestError">Error Message</button>
    </div>
</div>

<div class="row">
    @if (ConfirmResult)
    {
        <p>Confirmation has been made</p>
    }
    else
    {
        <p>Confirmation Pending</p>
    }
</div>

@code {
    private string ConfirmMessage = "Are you sure you want to click?";

    private bool ConfirmResult { get; set; }

    private async Task TestConfirmBox()
    {
        ConfirmResult = await _JSRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }

    private async Task TestSuccess()
    {
        await _JSRuntime.ToastrSuccess("This is success message demo");
    }

    private async Task TestError()
    {
        await _JSRuntime.ToastrError("This is error message demo");
    }
}
