@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>
<CascadingValue Value="@MessageForGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="number">
        <_ChildComponent @ref="ChildComp" title="This is the title value set in parent component" OnButtonClick="SetMessage">
            <ChildContent>This is passed in between child component from parent component</ChildContent>
            <DangerContent>This is Danger Content</DangerContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>
<div class="alert alert-success">
    @Message
</div>

<_AnotherChildComponent placeholder="placeholder from parent" maxlength="5">

</_AnotherChildComponent>

<div class="row">
    <div class="col-sm-12">
        <button @onclick="() => ChildComp.ShowToastr()">Show message</button>
    </div>
</div>

@code {
    private _ChildComponent ChildComp;

    public string Message = "";

    public string MessageForGrandChild = "This is message to send to Grand Child";

    public string LuckyNumber = "7";

    public Dictionary<string, object> ParentAttributes = new Dictionary<string, object>()
    {
        {"placeholder", "Parent placeholder text" },
        {"required", "required" },
        {"maxlength", 5 }
    };

    private void SetMessage()
    {
        Message = "Hello how are you doing";
    }
}
