@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>
<_ChildComponent title="This is the title value set in parent component" OnButtonClick="SetMessage">
    <ChildContent>This is passed in between child component from parent component</ChildContent>
    <DangerContent>This is Danger Content</DangerContent>
</_ChildComponent>
<div class="alert alert-success">
    @Message
</div>

<_AnotherChildComponent InputAttributes="ParentAttributes">

</_AnotherChildComponent>

@code {
    public string Message = "";

    public Dictionary<string, object> ParentAttributes = new Dictionary<string, object>()
    {
        {"placeholder", "Parent placeholder text" },
        {"required", "required" },
        {"maxlength", 5 }
    };

    private void SetMessage()
    {
        Message = "Hello how are you doing";
    }
}
