@page "/category/create"

<div class="row my-2">
    <div class="col-12">
        <h3 class="card-title text-primary mb-3 ml-3">@Title Category</h3>

        <EditForm Model="Category">
            <div class="form-group">
                <label>Name</label>
                <InputText @bind-Value="Category.Name" class="form-control w-50"></InputText>
            </div>
            <div class="form-group py-2">
                <button type="submit" class="btn btn-success me-2">@Title</button>
                <a href="/category" class="btn btn-secondary">Back to List</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private string Title { get; set; } = "Create";

    private CategoryDTO Category { get; set; } = new CategoryDTO();

}
