@page "/category"

<div class="row mt-4">
    <div class="col-lg-6">
        <h1>Category List</h1>
    </div>
    <div class="col-lg-4 offset-2">
        <a href="/category/create" class="btn btn-primary form-control">Create Category</a>
    </div>
</div>
@code {

}
